Character Recognition Weights
Cropped Letters
Cropped Letters - Preprocessed
Cropped License Plates
Darknet
DataSet
Train Character Data
Train Digit Data
YOLO localize plate/yolov3-train_final.weights
YOLO localize plate/yolov4-train_final.weights
YOLO_Train&Weights
YOLO train data
YOLO Test data
Final_Product/cropped_plates
Final_Product/Test_Results
YOLO Character Localize Train Data