PageSegData
OCR Trained Weights
DataSet
Sample_DataSet
Cropped
YOLO localize plate/yolov3-train_final.weights
YOLO localize plate/yolov4-train_final.weights
YOLO Trained Weights
YOLO train data
YOLO test data
OCR train data
Darknet
YOLOv4_trained_weights
link.txt
Images