PageSegData
OCR Trained Weights
DataSet
Sample_DataSet
Cropped
YOLO localize plate/yolov3-train_final.weights
YOLO localize plate/yolov4-train_final.weights
YOLO Trained Weights
YOLO train data
YOLO test data
OCR train data
Darknet
YOLOv4_trained_weights
link.txt
Images
Cropped_New
Cropped_New_Masks
OCR/EDSR_x4.pb
Cropped License Plates
madaya1.png
madaya2.png
Test.png
Letters
Test Letters
PageSeg_Weights